/* Header */
.header {
  /* set display position here */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: hd;
  border: 3px solid rgb(190, 30, 30);
  border-top: 0px;
  background-color: rgb(33, 53, 47);
  width: 100%;
  border-left: 0vw;
  border-right: 0vw;
  padding: 0%;
}

/* Logo */
.navbar-item {
  width: 150px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-top: 10px;
  font-weight: bolder;
  color: rgb(230, 201, 75);
}

/* Links */
.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  color: rgb(228, 117, 117);
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}
